.card-img-top{
    width: 500px;
    height: 400px;
    object-fit: contain;
}
.card-design{
  
    justify-content: center;
    align-items: center;
    max-width: 800px;
    max-height: 800px;
   
    object-fit: contain;
}

@media (max-width: 4000px) {
    .card-design{
        min-width: 360px;
        min-height: 360px;
    }
}

@media  (max-width: 350px) {
    .card-design{
        min-width: 300px;
        min-height:  300px;
    }
}
@media  (max-width: 300px) {
    .card-design{
        min-width: 270px;
        min-height: 370px;
    }
}